
h1{
	font-family: cursive;
	font-size: 50px;
	margin-top: 1px;
}

.bc_logo{
	height: 70px;
	margin-left: 47%;
}



.fieldset_player_information{
	width: 670px;
	margin:auto;
	margin-bottom: 20px;
}

.legend_player_information{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
	font-weight: 500;
}

.table_player_information{
	font-family: HelveticaNeue-Light;
	width: 670px;
	table-layout: fixed;
}

.element_player_information_name_label{
	width: 21%;
}

.element_player_information_nickname_label{
	width: 22%;
}

.element_player_information_nickname_text{
	width: 22%;
}

.table_player_information_position{
	font-family: HelveticaNeue-Light;
}






.fieldset_parent_information{
	width: 670px;
	margin:auto;
	margin-bottom: 20px;
}

.legend_parent_information{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
	font-weight: 500;
}

.table_parent_information{
	font-family: HelveticaNeue-Light;
	width: 670px;
	table-layout: fixed;
}

.element_parent_information_name_label{
	width: 21%;
}

.element_parent_information_home_phone_label{
	width: 22%;
}

.element_parent_information_home_phone_text{
	width: 22%;
}

.table_parent_information_address{
	font-family: HelveticaNeue-Light;
	width: 670px;
	table-layout: fixed;
}


.element_parent_information_address_label{
	width: 21%;
}

.element_parent_information_address_1_text{
	width: 22%;
}

.element_parent_information_address_2_text{
	width: 22%;
}






.fieldset_emergency_contact_information{
	width: 670px;
	margin:auto;
	margin-bottom: 20px;
}

.legend_emergency_contact_information{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
	font-weight: 500;
}

.table_emergency_contact_information{
	font-family: HelveticaNeue-Light;
	width: 670px;
	table-layout: fixed;
}

.element_emergency_contact_information_name_label{
	width: 21%
}

.element_emergency_contact_information_relation_to_player_label{
	width: 22%
}

.element_emergency_contact_information_relation_to_player_text{
	width: 22%
}








.fieldset_setup_your_account{
	width: 670px;
	margin:auto;
}

.legend_setup_your_account{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
	font-weight: 500;
}

.table_setup_your_account{
	font-family: HelveticaNeue-Light;
	width: 410px;
	table-layout: fixed;
	float:left;
}

.table_setup_your_account_comments{
	width: 250px;
	float:left;
}



.bc_logo_empty{
	height: 40px;
	margin-left: 48%;
	margin-top: 2%;
}






